@import './commonScss/colors.scss';
@import './commonScss/fonts.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.App {
  /* text-align: center; */
  font-family: $font-inter;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  color: $dark-blue;
}

.breadCrumbs {
  margin-top: 45px;
  display: flex;

  &_name {
    color: #3F4E65;
    padding: 0 10px;
    border-right: 1px dashed #3F4E65;
    text-decoration: none;

    &:last-child {
      border: none;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &_txt {
    border: 1px solid #3F4E65;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 300px;
    height: 100px;
  }

}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }